* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
.background {
    width: 100%;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.text {
    color: whitesmoke;
    text-shadow: 0 0 2px black;
    margin: 0;
}