<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bin/jsencrypt.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/bin/forge.min.js') }}"></script>
</head>
<body>
    <input style="display: none;" id="public_key" value="{{ public_key }}"/>
    <div class="background">
        <div class="container">
            <h1 class="title">Register</h1>
            <div class="rowContainer">
                <input class="containerInput" type="text" id="user_id" name="user_id" placeholder="ID" required>
            </div>
            
            <div class="rowContainer">
                <input class="containerInput" type="password" id="user_pwd" name="user_pwd" placeholder="Password" required>
            </div>

            <div class="rowContainer">
                <input class="containerInput" type="password" id="user_pwd_check" name="user_pwd_check" placeholder="Password Check" required>
            </div>

            <div class="rowContainer">
                <input class="containerInput" type="text" id="email" name="email" placeholder="Email" required>
            </div>
            
            <button class="submitButton" onclick="submitRegister()">GO!</button>

            <div class="rowContainer" style="justify-content: center; margin-bottom: auto;">
                <span class="registerMessage">Already have an account?</span>
                <a href="/login" class="registerButton">Login!</a>
            </div>
        </div>
    </div>

    <script>
        const encrypt = (public_key, plain_msg) => {
            return forge.util.encode64(public_key.encrypt(plain_msg, "RSA-OAEP", {
                md: forge.md.sha256.create(),
                mgf1: forge.mgf1.create()
            }))
        }

        const submitRegister = () => {
            const user_id = document.getElementById('user_id').value;
            const user_pwd = document.getElementById('user_pwd').value;
            const email = document.getElementById('email').value;

            const public_key = forge.pki.publicKeyFromPem(document.getElementById('public_key').value);
            
            // AJAX로 로그인 요청 보내기
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/register', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let response = JSON.parse(xhr.responseText);
                    if (response.ok) {
                        alert(response.msg);
                        window.location.href = '/main';
                    } else {
                        alert(response.error);
                    }
                }
            };

            xhr.send(JSON.stringify({
                'user_id': encrypt(public_key, user_id),
                'user_pwd': encrypt(public_key, user_pwd),
                'email': encrypt(public_key, email)
            }));
        }
    </script>
</body>
</html>